/* Game Projects Section Styles */
#projects {
    padding: 50px 20px; /* Maintain padding */
    margin-top: 20px; /* Add space above projects section */
}

.project-card {
    background-color: #1E1E1E; /* Dark Gray for contrast */
    border: 2px solid #FFB7C5; /* Pink border */
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 4px 8px #FFB7C5; /* Darker shadow for depth */
    transition: transform 0.3s ease; /* Add hover effect */
}

.project-card:hover {
    transform: scale(1.02); /* Slightly scale on hover for effect */
}

.project-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px #FFB7C5, 0 0 15px #F1A7C1; /* Light shadow with a slight glow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Project Card Headings */
.project-card h3 {
    color: white; /*Pink */
}

/* Accessibility Styles */
a:focus {
    outline: 2px dashed #FFB7C5; /* Pink outline for focus */
}
