/* Base Styles */
body {
    font-family: 'Arial', sans-serif; /* Use a simple font */
    background-color: #121212; /* Very Dark Gray */
    color: #E0E0E0; /* Light Gray */
    margin: 0;
    padding: 0;
}

/* Button Styles */
.btn-primary {
    background-color: #4CAF50; /* Dark Green */
    color: #121212; /* Dark text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove underline for links */
}

.btn-primary:hover {
    background-color: #66BB6A; /* Light Green hover effect */
}


/* Media Queries for Responsiveness */

/* Adjust navbar and font sizes for smaller screens */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align left */
    }
    
    .nav-link {
        padding: 8px 5px; /* Adjust padding */
    }

    .hero {
        padding: 30px 10px; /* Adjust padding for smaller screens */
    }

    .btn-primary {
        width: 100%; /* Make button full-width on small screens */
        display: inline-block; /* Ensure it's displayed as a block */
    }
}

/* Adjust project cards for smaller screens */
@media (max-width: 480px) {
    .project-card {
        padding: 15px; /* Adjust padding */
    }

    #projects {
        padding: 30px 10px; /* Adjust padding */
    }
}
