/* General Styles */
body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1, h2, h3 {
  color: white;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin: 40px 0 20px;
  color: white;
}

p {
  line-height: 1.6;
}

.title-projects {
  text-align: center; /* Centers the text inside */
  width: 100%; /* Ensures it takes the full width */
  margin: 0 auto; /* Centers it horizontally */
  padding: 20px 0; /* Adds some spacing */
}

/* Game Projects Section Styles */
.gptitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: white;
  margin-top: 20px;
}

/* Projects Section */
#projects {
  width: 90%; /* Make sure the grid takes up most of the page */
  margin: 40px auto; /* Center the section */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 40px; /* Space between project cards */
  justify-content: center; /* Center the cards horizontally */
  max-width: 1400px; /* Limit maximum width */
}

.project-card {
  background-color: #1E1E1E;
  border: 2px solid #FFB7C5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px #FFB7C5;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.project-card:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px #FFB7C5, 0 0 20px #F1A7C1;
}

.project-card img {
  width: 100%;
  height: 200px; /* Set a fixed height for consistency */
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px #FFB7C5, 0 0 15px #F1A7C1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Project Card Headings */
.project-card h3 {
  color: #FFB7C5; /* Pink color */
  margin-top: 10px;
  font-size: 1.5em;
}

.project-card a {
  color: pink;
}

/* Accessibility Styles */
a:focus {
  outline: 2px dashed #FFB7C5;
}
